a{
  color:black;
  font-size:20px;
   padding: 5px;
    margin-left: 10px;
}
nav{
  background-color: grey;
}
h3{
  text-align: center;

}
.haha{
  margin-top: 50px;
  background-color: grey;
  margin-right: 120px;
}
#o{
  margin-top:30px;
  text-align: center;
}
